.jp-BigQueryIcon {
  background-image: url('./images/storage_24px.svg');
  background-size: contain;
}
.jp-DatasetIcon {
  background-image: url('./images/dataset_24px.svg');
  background-size: contain;
}
.jp-TableIcon {
  background-image: url('./images/table_24px.svg');
  background-size: contain;
}
.jp-ViewIcon {
  background-image: url('./images/table_view_24px.svg');
  background-size: contain;
}
.jp-ModelIcon {
  background-image: url('./images/model_24px.svg');
  background-size: contain;
}