/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.jp-optimizer-icon {
  background-image: url('./images/graph.svg');
  background-size: contain;
}

.jp-optimizer-icon-rotate {
  transform: rotate(90deg);
}
