/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
/* Google Sans Font */
@import url('https://fonts.googleapis.com/css?family=Google+Sans');

.jp-vizier-icon {
  background-image: url('./images/graph.svg');
  background-size: contain;
}

.jp-vizier-icon-rotate {
  transform: rotate(90deg);
}
